{
  "openapi": "3.1.0",
  "info": {
    "title": "Google Calendar GPT Actions",
    "version": "1.0.0",
    "description": "API wrapper for GPT to manage Google Calendar events."
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/calendar/v3"
    }
  ],
  "components": {
    "schemas": {},
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/calendar": "Manage Google Calendar"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/calendars/primary/events": {
      "post": {
        "operationId": "createEvent",
        "summary": "Create calendar event",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "summary": { "type": "string" },
                  "description": { "type": "string" },
                  "location": { "type": "string" },
                  "attendees": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": { "type": "string" }
                      }
                    }
                  },
                  "start": {
                    "type": "object",
                    "properties": {
                      "dateTime": { "type": "string" },
                      "timeZone": { "type": "string" }
                    },
                    "required": ["dateTime", "timeZone"]
                  },
                  "end": {
                    "type": "object",
                    "properties": {
                      "dateTime": { "type": "string" },
                      "timeZone": { "type": "string" }
                    },
                    "required": ["dateTime", "timeZone"]
                  }
                },
                "required": ["summary", "start", "end"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event created"
          }
        }
      }
    }
  }
}
